body
{
    text-align: center;
    background: url("http://img03.deviantart.net/15d1/i/2015/361/e/2/mountain_by_samuelyap-d9lmyon.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    font-family: 'Segoe UI';
    text-shadow: 0px 2px 2px rgba(0,0,0,0.5);

    /*animation on body load*/
    animation-name: onLoad;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}

@keyframes onLoad
{
    0%
    {
        opacity: 0;
        transform: translateY(512px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

img
{
    border-radius: 128px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
}

img:hover
{
    transform: scale(1.1);
    border-radius: 0px;
    box-shadow: 0px 32px 32px 4px rgba(0,0,0,0.5);
}